<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kittens News</title>
</head>
<body>
    <h2>Kittens news</h2>

    <form value="/news/" method="get">
        <label for="search">Search news:</label>
        <input id="search" type="text" name="q">
    </form>

    {% for date, group in news.items %}
    <h4>{{ date }}</h4>
        <ul>
            {% for post in group %}
            <li><a target="_blank" href="/news/{{ post.link }}/">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}

    <a target="_blank" href="/news/create/">Create a new post</a>
</body>
</html>